.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 3fr 3fr 3fr;
    grid-template-rows:  0.15fr 0.5fr 0.5fr;
    grid-template-areas:
        "nav nav nav"
        "leftside center rightside"
        "bottomleftside Politics Politics"
        "bottomleftside Technology Technology"
        "bottomleftside Locals Locals"
        "bottomleftside Opinion Opinion"
        "bottomleftside Sports Sports"
    ;
}
nav{
    grid-area: nav;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#leftside{
    grid-area: leftside;
    text-align: center;
    border: 2px solid black;
    padding: 2px;
}
#center{
    grid-area: center;
    text-align: center;
    border: 2px solid black;
    padding: 2px;
}
.img{
    height: 60vh;
    width: 60vh;
}
#rightside{
    grid-area: rightside;
    text-align: center;
    border: 2px solid black;
    padding: 2px;
}
#bottomleftside{
    grid-area: leftside;
    text-align: right;
    border: 2px solid black;
    padding: 2px;
}
#Politics{
    grid-area: Politics;
    background-color: khaki;
    padding-top: 10px;
    font-weight: 500;
}
#Technology{
    grid-area: Technology;
    background-color: lightskyblue;
    padding-top: 10px;
    font-weight: 500px;
}
#Locals{
    grid-area: Locals;
    background-color: deepskyblue;
    padding-top: 10px;
    font-weight: 500px;
}
#Opinion{
    grid-area: Opinion;
    background-color: cadetblue;
    padding-top: 10px;
    font-weight: 500;
}
#Sports{
    grid-area: sports;
    background-color: indigo;
    padding-top: 10px;
    font-weight: 500;
}
